<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>User Registration</title>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{css/login-register-style.css(r=${T(java.lang.Math).random()})}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>
<body>

<div class="modal-dialog text-center">
    <div class="col-sm-8 main-section">
        <div class="modal-content">

            <div class="col-12 userData-img">
                <img src="images/face.png" alt="person">
            </div>

            <form class="col-12" action="#" th:action="@{/register}" th:object="${userData}" method="post">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Enter Name" required>
                    <input type="password" name="password" class="form-control" placeholder="Enter Password" required>
                    <input type="date" name="dateOfBirth" class="form-control" placeholder="Date of Birth" required>
                </div>
                <button type="submit" class="btn"><i class="fas fa-user-plus"></i> Register </button>
            </form>

            <!-- validate user and show error message -->
            <div class="validator" th:if="${userRegisterExistent}">
                <div>User with this name or birthdate already exists in Database! Please Login or enter new credentials!</div>
            </div>
            <!-- -->

            <div class="col-12 register-new-userData">
                <a href="/login">Already a User? Signin</a>
            </div>

        </div> <!-- end of modal content -->
    </div>
</div>

</body>
</html>