<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Weather History</title>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{css/weather-history.css(r=${T(java.lang.Math).random()})}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>
<body>
    <!-- Image and text -->
    <nav class="navbar navbar-dark fixed-top bg-primary">
        <a class="navbar-brand" href="#">
            <img src="images/weather_icon.png" width="40" height="40" class="d-inline-block align-top" alt="weather history">
            Current Weather App
        </a>
        <form class="navbar-form" action="#" th:action="@{/logout}" method="get">
            <button class="btn btn-warning my-2 my-sm-0" type="submit">Logout</button>
        </form>
    </nav>

    <div class="flexstyle-mainlayout">

        <!-- City search form and button -->
        <div class="search-wrapper">
            <form class="navbar-form" th:action="@{/checkWeather}" method="get">
                <div class="row">
                    <div class="col-lg-8">
                        <input type="text" name="city" class="form-control" placeholder="Type the name of the city..">
                    </div>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary">Search Weather</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Weather Card that updates dynamically -->
        <div class="card">
            <div class="city" th:text="${city}"></div>
            <br>
            <div class="temp">
                <div id="headline" th:text="${headline}">Oops!</div>
                <div><img src="" id="mainWeatherIcon" width="100" height="100"></div>
                <div th:text="${currentTemp}">Oops!</div>
            </div>
            <div class="forecast">
                <div class="day"> Wind Speed
                    <br> <img src="https://cdn2.iconfinder.com/data/icons/weather-special/78/12-512.png" width="42" height="42"> <br> <span class="highLimit" th:text="${wind}">oops!</span> <br> <span class="lowLimit">km/h</span>
                </div>
                <div class="day"> Max and Min Temp
                    <br> <img src="https://cdn1.iconfinder.com/data/icons/luchesa-2/128/Temperature-512.png" width="42" height="42"> <br> <span class="highLimit" th:text="${maxTemp}">oops!</span> <br> <span class="lowLimit" th:text="${minTemp}">oops!</span>
                </div>
                <div class="day">Sunrise and Sunset
                    <br> <img src="https://cdn1.iconfinder.com/data/icons/landscape-v-1/512/Landscape_Circle_1_512px_00007-512.png" width="42" height="42"> <br> <span class="highLimit" th:text="${sunrise}">oops!</span> <br> <span class="lowLimit" th:text="${sunset}">oops!</span>
                </div>
                <div class="day">Description
                    <br> <img src="https://cdn4.iconfinder.com/data/icons/weather-flat-icons-1/100/sunny_cloud-512.png" width="50" height="50"> <br> <span class="highLimit" th:text="${description}">oops!</span>
                </div>
            </div>
        </div>

        <!-- history table -->
        <div class="jumbotron" id="history-table">
            <div class="crud-form-field">
                <form class="crud-form"  th:action="@{/checkWeather}" method="post">
                    <div class="form-group">
                        <input type="text" name="city" class="form-control" th:value="${city}" placeholder="Enter City"/>
                        <input type="text" name="headline" class="form-control" th:value="${headline}" placeholder="Enter Headline">
                        <input type="text" name="description" class="form-control" th:value="${description}" placeholder="Enter Description">
                        <input type="text" name="currentTemp" class="form-control" th:value="${currentTemp}" placeholder="Enter Current Temp">
                        <input type="text" name="minTemp" class="form-control" th:value="${minTemp}" placeholder="Enter Min Temp">
                        <input type="text" name="maxTemp" class="form-control" th:value="${maxTemp}" placeholder="Enter Max Temp">
                        <input type="text" name="sunrise" class="form-control" th:value="${sunrise}" placeholder="Enter Sunrise">
                        <input type="text" name="sunset" class="form-control" th:value="${sunset}" placeholder="Enter Sunset">
                    </div>
                    <div class="submit-crudform">
                        <button type="submit" name="action" value ="add" class="btn btn-outline-success"><i class="fas fa-plus-circle"></i> Add</button>
                        <button type="submit" name="action" value ="edit" class="btn btn-outline-success"><i class="far fa-edit"></i> Edit</button>
                        <button type="submit" name="action" value ="delete" class="btn btn-outline-success"><i class="fas fa-trash-alt"></i> Delete</button>
                    </div>
                </form>
            </div>
            <div class="crud-table-field">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">city</th>
                        <th scope="col">headline</th>
                        <th scope="col">description</th>
                        <th scope="col">currentTemp</th>
                        <th scope="col">minTemp</th>
                        <th scope="col">maxTemp</th>
                        <th scope="col">sunrise</th>
                        <th scope="col">sunset</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="instance:${weatherMap.get('weatherList')}">
                            <td th:text="${instance.city}"/>
                            <td th:text="${instance.headline}"/>
                            <td th:text="${instance.description}"/>
                            <td th:text="${instance.currentTemp}"/>
                            <td th:text="${instance.minTemp}"/>
                            <td th:text="${instance.maxTemp}"/>
                            <td th:text="${instance.sunrise}"/>
                            <td th:text="${instance.sunset}"/>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- script to form icon url from `icon`-->
    <script th:inline="javascript">
        /*<![CDATA[*/
            let icon = /*[[${icon}]]*/ 'default';
        /*]]>*/
        let icon_url = "http://openweathermap.org/img/w/"+icon+".png"
        document.getElementById('mainWeatherIcon').src = icon_url;
    </script>
</body>
</html>