body{
    font-family: sans-serif;
    background: url("../images/weather_background.jpg") no-repeat center center fixed;
    background-size: cover;
}

.navbar-brand {
    display: inline-block;
    font-weight: lighter;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 25px !important;
    line-height: inherit;
    white-space: nowrap;
}

.flexstyle-mainlayout{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-wrapper{
    margin-left: 12%;
    margin-top: 100px;
    width: 60%;
}

.card {
    margin-top: 50px;
    width: 49%;
    min-height:22.5em;
    border-radius: .2em;
    padding-top:1em;
    padding-left: 1em;
    padding-right:1em;
  }

.city {
    display:flex;
    justify-content: space-around;
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5em;
    color:#5b5b5b;
    margin-bottom: 50px;
}

#firstname {
    margin-left: 10%;
    margin-top:10px;
    width:4em;
    height:4em;
    margin-top: 1em;
  }
.temp {
    display: flex;
    justify-content: center;
    font-family:Roboto;
    font-weight: 300;
    font-size: 8.5em;
    margin-top:-.75em;
    color:#007bff;
    border-bottom: 1px solid #d9d9d9 !important;
  }

/* .CRUDicons{
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
} */

  #headline {
    font-family:Roboto;
    font-weight: 300;
    font-size: .60em;
    margin-top:0.70em;
    color:#007bff;
  }
  #headline:before {
    content:url('https://i.imgur.com/luN0Jmq.png');
  }

.variations {
    font-family:Roboto;
    font-wight:300;
    color:#8c8c8c;
    list-style:none;
    margin-left:-2em;
  }
.mph {
     font-size:.8em;
  }

.forecast {
    display: flex;
    justify-content: space-around;
    width:100%;
    margin-top:30px;
  }
.day {
    display:block;
    width: 25%;
    height:9em;
    float:left;
    margin-left: 2px;
    text-align:center;
    font-family:Roboto;
    color: #5b5b5b;
    line-height: 2;
  }
.highLimit {
    font-weight:bold;
  }
.lowLimit {
    color: #8c8c8c;
  }

#history-table{
    width: 70%;
    margin-top: 50px;
    text-align: center;
}

.crud-form{
    width: 30%;
}

.submit-crudform{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: space-around;
}