body{
    font-family: sans-serif;
    background: url("../images/weather_background.jpg") no-repeat center center fixed;
    background-size: cover;
}

.navbar-brand {
    display: inline-block;
    font-weight: lighter;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 25px !important;
    line-height: inherit;
    white-space: nowrap;
}

.search-wrapper{
    position: fixed;
    margin-top: 100px;
    right: 20%;
    left: 20%;
    overflow-x: hidden;
}

.weather-contianer{
    display:flex;
}

.card {
    position: fixed;
    margin-top: 200px;
    right: 20%;
    left: 20%;
    width: 49%;
    min-height:22.5em;
    background: #007bff;
    border-radius: .2em;
    padding-top:1em;
    padding-left: 1em;
    padding-right:1em;
  }

.city {
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5em;
    color:#5b5b5b;
}

.sun {
    margin-left: 10%;
    margin-top:10px;
    width:4em;
    height:4em;
    border-radius: 2.5em;
    background: #FBD80A;
    margin-top: 1em;
  }
.temp {
    margin-left: 20%;
    font-family:Roboto;
    font-weight: 300;
    font-size: 8.5em;
    margin-top:-.75em;
    color:#5b5b5b;
  }
.variations {
    font-family:Roboto;
    font-wight:300;
    color:#8c8c8c;
    list-style:none;
    margin-left:-2em;
  }
.mph {
     font-size:.8em;
  }
.headline:before {
    content:url('https://i.imgur.com/luN0Jmq.png');
  }
.forecast {
    width:100%;
    margin:0 auto;
  }
.day {
    display:block;
    width: 21.5%;
    height:9em;
    float:left;
    margin-left: 2px;
    text-align:center;
    font-family:Roboto;
    color: #5b5b5b;
    border-right:.1em solid #d9d9d9;
    line-height: 2;
  }
.highLimit {
    font-weight:bold;
  }
.lowLimit {
    color: #8c8c8c;
  }
.cloudy {
    content: url('https://i.imgur.com/0PIYfV8.png');
  }
.sunny {
    content: url('https://i.imgur.com/RdBr2SD.png');
}